<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Pantry</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1>Welcome to my Pantry!</h1>
        <a href="/users/<%=user._id%>/foods/new">Add New Item</a>
        <% if (foods.length > 0) { %>
            <ul>
                <% foods.forEach((food)=>{ %>
                <li>
                    <a href="/users/<%= user._id %>/foods/<%= food._id %>">
                        <%= food.name %>
                    </a>
                    <br>
                    <!-- Add edit link to the index template -->
                    <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">
                        Edit
                    </a>
                    
                    <!-- Add delete button to the index template -->
                    <form 
                        action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" 
                        method="POST" 
                        style="display:inline;"
                    >
                        <button type="submit">Delete</button>
                    </form>
                    <br><br>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>There are no items in this pantry.</p>
        <% } %>
    </body>
</html>