<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= food.name %></title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1><%= food.name%></h1>
        <% 
            // For looking up the status labels
            const statusLabels = {
                inStock: "In Stock",
                runningLow: "Running Low",
                outStock: "Out of Stock",
                expired: "Expired"
            };
        %>
        <% if (food.notes) { %>
            <p>Notes: <%= food.notes %></p>
        <% } %>
        <p>Current Status: 
            <% if(food.status) { %> 
                <%= statusLabels[food.status] %>
            <% } %>
        </p>
    </body>
</html>