<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= otherUser.username %>'s Pantry</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1><%= otherUser.username %>'s Pantry</h1>
        <% 
            // For looking up the status labels
            const statusLabels = {
                inStock: "in stock",
                runningLow: "running low",
                outStock: "out of stock",
                expired: "expired"
            };
        %>
        <% if (otherUser.pantry.length === 0) { %>
            <p>There are no items in this user's pantry.</p>
        <% } else { %>
            <ul>
                <!-- Render a list of the the other user's pantry items with the status in parenthesis -->
                <% otherUser.pantry.forEach(food => { %>
                    <li>
                        <%= food.name %> 
                        <% if(food.status) { %> 
                            (<%= statusLabels[food.status] %>) 
                        <% } %>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </body>
</html>